body {
  background: #EFECCA;
  color: #002F2F;
  font-family: BlinkMacSystemFont, -apple-system, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #046380;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-header h2 {
  margin: 0;
  height: 60px;
  line-height: 60px;
}

.popover {
  position: fixed;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  z-index: 10;
}
.popover > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  background: white;
}

.popover::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.move-action {
  width: 15%;
  margin: 10px 2%;
  cursor: pointer;
  display: inline-block;
}

.move-action:hover {
  background: rgba(0, 0, 0, 0.1);
}

.username {
  font-weight: bold;
}

.move, .username {
  position: relative;
  padding: 5px;
  background: #E6E2AF;
}
.yourself {
  background: rgba(4, 99, 128, 0.5);
}

.history {
  margin: 0 auto;
}

.move img {
  width: 40px;
}

.win::before {
  content: url('/star.svg');
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
}
